.banner-container{
    position: relative;
    width: 100%;
    height: 50vh;
    
}

.banner-overlay{
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to left bottom, #ff344c, #ff5252, #ff695a, #ff7d64, #ff8f70);
    z-index: -1;
    border-bottom-left-radius: 10rem;
    overflow: hidden;
}
.banner-overplay-image{
    height: 100%;
    position: absolute;
    background-image: linear-gradient(to left bottom, #ff3d54, #ff5758, #ff6c5e, #ff7e66, #ff8f70);
    right: 20vw;
    
    transform: scale(6);
}

.banner-content{
    height: 40vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.banner-header{
    font-size: clamp(1.5rem, 2.5vw, 4rem); 
    font-weight: bold;
    text-align: center;
    color: var(--font-color-white);
    letter-spacing: 8px;
    font-family: var(--font-ubuntu);
    margin-bottom: 1rem;
}

.banner-tagline{
    color: var(--font-color-white);
    letter-spacing: 2px;
    font-family: var(--font-ubuntu);
    margin-bottom: 3rem;
    text-align: center;
    padding-inline: 2rem;
}



.banner-button{
    padding:0.5rem;
    padding-inline: 1rem;
    font-weight: 600;
    border-radius: 10px;
    border:1px solid white;
    color:white;
    background-color: transparent;
    cursor: pointer;
}
.primary-button {
    background-color: white;
    margin-right: 1rem;
    color:var(--very-light-red)
}


@media screen and (max-width:500px) {

    .banner-container{
        height: 60vh;
    }

    .banner-header{
        text-align: center;
    }

    
}