.section2-container{
    margin-top: 2rem;
    height: 40vh;
    width: 100vw;
    height: 40vh;
    background-image: linear-gradient(to right top, #00002c, #0d1539, #1f2347, #2f3255, #3f4164);
    border-bottom-left-radius: 7rem;
    border-top-right-radius: 10rem;
    display: flex;
}

.section2-image-container{
    width: 50%;
    position: relative;
    
}

.section2-image{
    position: absolute;
    /* top: -5rem;   */ 
    height: 100%;
    right: 10rem;
    width: auto;
    transform: translateX(25%);
    transform: scale(1.5);

}

.section2-description{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.section2-header{
    font-size: 2rem;
    color: white;
    margin-bottom: 1rem;
}

.section2-description-content{
    width: 70%;
    color:white;
    font-size: 0.8rem;
    letter-spacing: 1px;
    line-height:1.5rem;
    min-width: 487px;
}


@media screen and (max-width: 1000px) {

 .section2-container{
    flex-direction: column;
    width: 100vw;
    height: auto;
    background-color: #1f2347;
    padding-bottom:2rem;
    text-align: center;
    
 }

 .section2-image-container{
    height: 50%;
    display: flex;
    justify-content: center;
    align-self: ceter;
    width: 100%;
    margin-bottom: 2rem;
 }


 .section2-description{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
 }

 .section2-description-content{
    padding-inline:3rem;
    padding-block:1.5rem;
 }

 
.section2-image{
    /* top: -5rem;   */ 
    position: relative;
    height: 50%;
    width: 50%;
    margin: auto;
    right: 0;
    top: 0;
    /* transform: scale(1.5); */

}

}